<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Betting Crawler</title>
</head>
<body>

<div class="container">

    <h3>Sports of bettor: <span th:text="${bettor.name}" /> </h3>
    <div class="list-group" th:each="sport : ${sports}">
        <a th:href="@{/events(sportId=${sport.id})}" class="list-group-item list-group-item-action">
            <p th:text="${sport.name}"/>
        </a>
    </div>

</div>

</body>
</html>